

.pref {
    stroke:#000000 ;
    stroke-width:0.5;
    transition: transform 0.5s;
    fill:#ffefed;
  

  }

  .pref:hover {
    transform : scale(1.1) ;
    position:relative;
    fill: #d5392a;
    cursor: pointer;

  }

  #Tōhoku {
    transform-origin: 177px 113px;
  }

  #Chūbu {
    transform-origin: 140px 160px;
  }

  #Kyūshū {
    transform-origin: 37px 220px;
  }

  #Shikoku {
    transform-origin: 75px 203px;
  }

  #Hokkaidō {
    transform-origin: 230px 30px; 
  }

  #Kantō {
    transform-origin: 162px 160px;

 
    
  }

  #Chūgoku {
    transform-origin: 63px 184px;
  }

  #Kansai {
    transform-origin: 105px 185px;
    
  }

  @media (max-width: 992px){
    .carte{
      display: none;
    }
  }
  
 